# Nomba API Configuration

NOMBA_ACCOUNT_ID=your_parent_account_id
NOMBA_SUB_ACCOUNT_ID=your_sub_account_id
NOMBA_CLIENT_ID=your_client_id
NOMBA_CLIENT_SECRET=your_client_secret
NOMBA_BASE_URL=https://sandbox.nomba.com/v1

# Storage Settings
DATA_FILE=data.json

# App Settings
CURRENCY=NGN
DEBUG=True

# Webhook / Callback URL
NOMBA_CALLBACK_URL=https://your-callback-url.com